spring:
  application:
    name: user-service
  cloud:
    config:
      fail-fast: true
      request:
        connect-timeout: 10000
        read-timeout: 10000


management:
  endpoints:
    web:
      exposure:
        include: health,info
  endpoint:
    health:
      show-details: always


